azure-ai-vision-imageanalysis
azure-cognitiveservices-speech
azure-cognitiveservices-vision-computervision
azure-common
azure-core
boto3
botocore
diffusers
ffmpeg
ffmpy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-datastore
google-cloud-speech
google-cloud-storage
google-cloud-videointelligence
google-cloud-vision
google-crc32c
google-generativeai
google-pasta
google-resumable-media
googleapis-common-protos
huggingface-hub
imageio
imageio-ffmpeg
imgaug
lightning
moviepy
multiprocess
numba
numpy
oauthlib
onnxruntime
openai
openai-whisper
opencv-python
opt-einsum
optuna
Pillow
pip-autoremove
pytorch-lightning
pytorch-metric-learning
requests-oauthlib
requests-toolbelt
soundfile
soupsieve
speechbrain
speedtest-cli
streamlit
svg.path
svgwrite
threadpoolctl
torch
torch-audiomentations
torch-vision
torch_pitch_shift
torchaudio
torchmetrics
torchvision
tornado
tqdm
transformers
urllib3
uvicorn
virtualenv
